!subprojects/*.wrap
*.swp
.clang_complete
.DS_Store
.cache/
.clangd/
build/
__pycache__/
compile_commands.json
CUDA_NN/
lc0.xcodeproj/
LC0VSProj/
src/.vs/
subprojects/*
testdata/
xcuserdata
.clang-tidy
compile_flags.txt
.vscode